
.photo1 {
    filter: grayscale(0%);
    height: 30vh;
    width: 100%;
    background-image: url("../../../assets/img/appareil-profil.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    text-align: center;
    margin: auto;
    margin-top: 10%;

}



 
.icon{
        color: black;
        margin-right: 2%;
        font-size: larger;
}
    

    