.card-product{
    --background: linear-gradient(to top, #f7f7f7, #e4e2ea, #d1ccdd, #c0b7cf, #b0a2c1);
}

.content{
    padding: 0%;
        height: 20vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
}