ion-header {
    ion-icon {
        font-size: xx-large;
    }
}

.logo {
    ion-col {
        text-align: center;
        ion-icon {
            padding: 10%;
            font-size: 4rem;
            border-radius: 50%;
            background: linear-gradient(to bottom, #f7f7f7, #e4e2ea, #d1ccdd, #c0b7cf, #b0a2c1);
        }
        .inner-scroll {
            color: linear-gradient(to bottom, #f7f7f7, #e4e2ea, #d1ccdd, #c0b7cf, #b0a2c1)!important;
        }
    }
}

.form {
    .text {
        padding: 0% 0%;
        h4 {
            text-align: center;
        }
    }
}