<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mes moyens de paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="carte"  >
      <ion-card-subtitle style="font-size: medium;">Carte n°1</ion-card-subtitle>
      <div>
        <ion-label>Titulaire de la carte</ion-label>
        <ion-input style="float: left;" class="input" value="Mike Sylvestre"></ion-input>
      </div>
      <div>
        <ion-label>numero de carte</ion-label>
        <ion-input style="float: left;" class="input" value="1234 1234 1234 1234"></ion-input>
      </div>
      <ion-row>
        <ion-col size="8">
          <ion-label position="floating" [ngClass]="">Date de validation</ion-label>
          <ion-input type="month"></ion-input>          
        </ion-col>
        <ion-col  size="4">
          <ion-label>crypto</ion-label>
          <ion-input style="float: left;" class="input" value="123"></ion-input>
        </ion-col>
      </ion-row>
  </ion-row>
</ion-content>
