<ion-header>
  <ion-toolbar>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Rechercher" class="search_bar" (keyup)="show_search($event.key)"></ion-searchbar>
  </ion-toolbar>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Hybride</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Reflexe</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Compact & Bridge</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Instantané</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Caméscope, CamSport</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Objectifs</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" href="#">
      <ion-label class="item">Accessoire</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
