<ion-header>
  <ion-toolbar>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Rechercher" class="search_bar" (click)="show_search()"></ion-searchbar>
  </ion-toolbar>

  <ion-card hidden = "hidden">
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="type_app" href="#">
      <ion-label></ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
