<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar animated placeholder="Rechercher" class="search_bar" (keyup)="show_search($event.key)"></ion-searchbar>
  </ion-toolbar>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Hybride' }">
      <ion-label class="item">Hybride <img class="search_image" src="../../../assets/icon/photo.png" /> </ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Reflexe' }">
      <ion-label class="item">Reflexe <img class="search_image" src="../../../assets/icon/reflex.png" /> </ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Compact & Bridge' }">
      <ion-label class="item" style="font-size: 90%;">Compact & Bridge<img class="search_image" src="../../../assets/icon/compact_bridge.png" /></ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Instantané' }">
      <ion-label class="item" >Instantané <img class="search_image" src="../../../assets/icon/instant.png" /></ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'CamSport' }">
      <ion-label class="item" style="font-size: 90%;">CamSport <img class="search_image" src="../../../assets/icon/cam.png" /></ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Objectifs' }">
      <ion-label class="item">Objectifs <img class="search_image" src="../../../assets/icon/objectif.png" /></ion-label>
    </ion-item>
  </ion-card>

  <ion-card [hidden]=ishidden>
    <ion-item class="type_app" routerLink="/type-search" [state]="{ example: 'Accessoire' }">
      <ion-label class="item">Accessoire <img class="search_image" src="../../../assets/icon/accessoire.png" /></ion-label>
    </ion-item>
  </ion-card>

  <ion-list *ngFor="let product of arrayProduct">
    <ion-item routerLink="/type-search" [state]="{ example: product }">
      <ion-label style="color: black;">{{ product }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
