<ion-header>
  <ion-toolbar>
    <ion-item style="border: none;" class="menu" >
      <ion-icon style="color: black;" routerLink="/tabs/profil" name="arrow-back" ></ion-icon> <ion-title>Mes informations</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Prenom</ion-label>
    <ion-input valuie=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">date de naissance</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">adresse</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">adresse</ion-label>
    <ion-input value="{{custom}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">ville </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">code postal </ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
