<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="logo">
      <ion-col size="12" class="ion-align-self-center">
          <input type="button" (click)="uploadPicture()">
          <ion-icon name="add-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
      <ion-row class="form">
          <ion-col size="12">
              <ion-item >
                  <ion-label position="floating" [ngClass]="user.nom.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Nom</ion-label>
                  <ion-input type="text" [(ngModel)]="user.nom"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.prenom.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Prénom</ion-label>
                  <ion-input type="text" [(ngModel)]="user.prenom"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" [ngClass]="">Date de naissance</ion-label>
                <ion-input type="text" [(ngModel)]="user.dateNaiss"></ion-input>
            </ion-item>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.email.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Email</ion-label>
                  <ion-input (keydown)="checkEmail()" type="email" [(ngModel)]="user.email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.telephone.length < 2 ? 'errorEmail' : 'goodEmail'">Numéro de téléphone</ion-label>
                  <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.telephone"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.password.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Mot de passe</ion-label>
                  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.confirm_password.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Vérifier mot de passe</ion-label>
                  <ion-input type="password" [(ngModel)]="user.confirm_password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" [ngClass]="user.adresse.trim().length < 5 ? 'errorEmail' : 'goodEmail'">Adresse</ion-label>
                <ion-input type="text" [(ngModel)]="user.adresse"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" [ngClass]="user.code_postale < 2 ? 'errorEmail' : 'goodEmail'">Code postale</ion-label>
              <ion-input type="number" [(ngModel)]="user.zipcode"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" [ngClass]="user.ville.length < 2 ? 'errorEmail' : 'goodEmail'">Ville</ion-label>
              <ion-input type="text" [(ngModel)]="user.ville"></ion-input>
            </ion-item>
          </ion-col>
            <ion-col size="12">
                <ion-button [disabled]="isErrorMail || isErrorPhone || (user.password.trim() != user.confirm_password.trim() && user.confirm_password.trim().length < 2 )" (click)="register()" expand="full" class="btnLogin">S'inscrire</ion-button>
            </ion-col>
      </ion-row>
      <p> <a routerLink="/login">Vous êtes déjà inscrit ? Connectez vous</a> </p>
  </ion-content>
