<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="header-marque">Lighted</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <h3 class="title-register">Inscrivez vous !</h3>
      <ion-row class="form">
          <ion-col size="12">
              <ion-item >
                  <ion-label position="floating" [ngClass]="user.nom.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Nom</ion-label>
                  <ion-input (keyup)="check_info('nom')" type="text" [(ngModel)]="user.nom"></ion-input>
              </ion-item>
              <span *ngIf="isNom" style="font-size: 75%; color: red;">Veuillez renseigner votre Nom</span>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.prenom.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Prénom</ion-label>
                  <ion-input (keyup)="check_info('prenom')"  type="text" [(ngModel)]="user.prenom"></ion-input>
              </ion-item>
              <span *ngIf="isPrenom" style="font-size: 75%; color: red;">Veuillez renseigner votre Prénom</span>
              <ion-item>
                <ion-label position="floating" [ngClass]="">Date de naissance</ion-label>
                <ion-input (keyup)="check_info('dateNaiss')" type="date" [(ngModel)]="user.dateNaiss" placeholder="date de naissance"></ion-input>
            </ion-item>
            <span *ngIf="isDateNaiss" style="font-size: 75%; color: red;">Veuillez renseigner votre date de naissance</span>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.email.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Email</ion-label>
                  <ion-input (keydown)="checkEmail()" type="email" [(ngModel)]="user.email"></ion-input>
              </ion-item>
              <span *ngIf="isErrorMail" style="font-size: 75%; color: red;">Veuillez renseigner un Email valide</span>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.telephone.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Numéro de téléphone</ion-label>
                  <ion-input (keyup)="checkPhone()" type="text" [(ngModel)]="user.telephone"></ion-input>
              </ion-item>
              <span *ngIf="isErrorPhone" style="font-size: 75%; color: red;">Veuillez renseigner un numéro valide</span>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.password.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Mot de passe</ion-label>
                  <ion-input (keyup)="check_info('mdp')" type="password" [(ngModel)]="user.password"></ion-input>
              </ion-item>
              <span *ngIf="isPassword" style="font-size: 75%; color: red;">Veuillez renseigner un mot de passe valide</span>
              <ion-item>
                  <ion-label position="floating" [ngClass]="user.confirm_password.trim().length < 2 ? 'errorEmail' : 'goodEmail'">Vérifier mot de passe</ion-label>
                  <ion-input (keyup)="check_info('remdp')" type="password" [(ngModel)]="user.confirm_password"></ion-input>
              </ion-item>
              <span *ngIf="isRePass" style="font-size: 75%; color: red;">Attention mot de passe non identique</span>
              <ion-item>
                <ion-label position="floating" [ngClass]="user.adresse.trim().length < 5 ? 'errorEmail' : 'goodEmail'">Adresse</ion-label>
                <ion-input (keyup)="check_info('adresse')" type="text" [(ngModel)]="user.adresse"></ion-input>
            </ion-item>
            <span *ngIf="isAdresse" style="font-size: 75%; color: red;">Veuillez renseigner votre Adresse</span>
            <ion-item>
              <ion-label position="floating" [ngClass]="user.code_postale < 2 ? 'errorEmail' : 'goodEmail'">Code postale</ion-label>
              <ion-input (keyup)="check_info('cp')" type="number" [(ngModel)]="user.zipcode"></ion-input>
            </ion-item>
            <span *ngIf="isCodePostale" style="font-size: 75%; color: red;">Veuillez renseigner votre Code postale</span>
            <ion-item>
              <ion-label position="floating" [ngClass]="user.ville.length < 2 ? 'errorEmail' : 'goodEmail'">Ville</ion-label>
              <ion-input (keyup)="check_info('ville')" type="text" [(ngModel)]="user.ville"></ion-input>
            </ion-item>
            <span *ngIf="isVille" style="font-size: 75%; color: red;">Veuillez renseigner votre Ville</span>
          </ion-col>
            <ion-col size="12">
                <ion-button [disabled]="isNom || isPrenom || isDateNaiss || isAdresse || isCodePostale || isVille || isErrorMail || isErrorPhone || (user.password.trim() != user.confirm_password.trim() && user.confirm_password.trim().length < 1 )" (click)="register()" expand="full" class="btnLogin">S'inscrire</ion-button>
            </ion-col>
      </ion-row>
      <p> <a routerLink="/login">Vous êtes déjà inscrit ? Connectez vous</a> </p>
  </ion-content>
