<ion-content>
    <ion-row align-items no-padding class="photoDouble">
        <div class="photo1">
            <p class="P-photo1">Voir les <br>appareils <br>du moments !</p>
        </div>
    </ion-row>
    <ion-row align-items no-padding class="photoDouble">
        <ion-col>
            <div class="photoDouble2">
                <p class="P-photoDouble">Voir les <br>objectifs</p>

            </div>
        </ion-col>
        <ion-col>
            <div class="photoDouble1">
                <p class="P-photoDouble P-photoDouble2">Voir les <br>accessoires</p>

            </div>
        </ion-col>
    </ion-row>
    <ion-row align-items no-padding class="photoDouble">
        <div class="photo2">
            <p class="P-photo2">Pas<br>d'inspi <br>a revoir !!</p>
        </div>
    </ion-row>
    <ion-row align-items no-padding class="categorie">
        <div class="photo3 ">
            <p class="P-photoCat">Nikon</p>
        </div>
    </ion-row>
    <ion-row align-items no-padding class="categorie ">
        <div class="photo4 ">
            <p class="P-photoCat">Canon</p>
        </div>
    </ion-row>
</ion-content>