<ion-content>
    <!-- <div class="photo1">
      <p>Voir les <br>appareils <br>du moments !</p>
  </div> -->
    <ion-row align-items no-padding class="photoDouble">
        <div class="photo1">
            <p>Voir les <br>appareils <br>du moments !</p>
        </div>
    </ion-row>
    <ion-row align-items no-padding class="photoDouble">
        <ion-col>
            <div class="photoDouble2">

            </div>
        </ion-col>
        <ion-col>
            <div class="photoDouble1">

            </div>
        </ion-col>
    </ion-row>
</ion-content>